<div class="weatherContainer">
    <div class="citySelector">
        <span id="header">{{title}}</span>
        <div class="dropdown">
            <ng-select id="cityDropdown" [items]="citiesData" bindLabel="nm" bindValue="id" [clearable]="dropdownProperties.clearable"
                [searchable]="dropdownProperties.searchable" (change)="changeCity()"
                [virtualScroll]="dropdownProperties.virtualScroll" [(ngModel)]="selectedCityId">
            </ng-select>
            <!-- <select #sCity (change)="changeCity(+sCity.value)" name="" id="">
                <option >{{city.nm}}</option>
            </select> -->
        </div>
    </div>
    <span *ngIf="fetchingData" class="loader"></span>
    <ng-container *ngIf="!fetchingData">
        <div class="cityName">{{selectedCity}}</div>
        <div class="currentWeather">
            <div id="currentIcon" class='wi' [class]="currentWeather.id"></div>
            <div id="currentTemp" class='wi'>{{currentWeather.temp}}</div>
        </div>
        <div class="forecastWeather">
            <div class="days">
                <div *ngFor="let weather of forecastWeather" class="weatherData">{{weather.date|date:'EEE'}}</div>
            </div>
            <div class="weathers">
                <div class="dayWeather" *ngFor="let weather of forecastWeather">

                    <div class="forW">
                        <div id="currentIcon" class='wi' [class]="weather.id"></div>
                        <div id="">{{weather.min}}</div>
                        <div id="">{{weather.max}}</div>
                    </div>

                </div>
            </div>

        </div>
    </ng-container>

</div>