<div class="weatherContainer">
    <div class="citySelector">
        <span id="header">{{title}}</span>
        <div class="dropdown">
            <app-dropdown [data]="citiesData" (newCity)="changeCity($event)"></app-dropdown>
            <!-- <select #sCity (change)="changeCity(+sCity.value)" name="" id="">
                <option >{{city.nm}}</option>
            </select> -->
        </div>
    </div>
    <span *ngIf="fetchingData" class="loader"></span>
    <ng-container *ngIf="!fetchingData">
        <div class="cityName">{{selectedCity|uppercase}}</div>
        <div class="currentWeather">
            <div id="currentIcon" class='wi' [class]="currentWeather.id"></div>
            <div id="currentTemp" class='wi'>{{currentWeather.temp}}&deg;</div>
        </div>
        <div class="forecastWeather">
            <div class="days">
                <div *ngFor="let weather of forecastWeather" class="weatherData">{{weather.date|date:'EEE'|uppercase}}</div>
            </div>
            <div class="weathers">
                <div class="dayWeather" *ngFor="let weather of forecastWeather">

                    <div class="forW">
                        <div id="currentIcon" class='wi' [class]="weather.id"></div>
                        <div id="">{{weather.min}}&deg;</div>
                        <div id="">{{weather.max}}&deg;</div>
                    </div>

                </div>
            </div>

        </div>
    </ng-container>

</div>