/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

html{
  font-size: 28px;
}
*{
  font-family:'Times New Roman', Times, serif ;
}
body {
  height: 100%;
  background: #8e74c7;
  color: white;
}
.ng-select.ng-select-single .ng-select-container {
  height: 2rem !important;
  min-height: 0 !important;
}
.ng-select .ng-select-container {
  min-height: 0 !important;
}
@media only screen and (max-width:600px) {
  html{
    font-size: 26px;
  }
}
